Checks: >
  -*,
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  -bugprone-branch-clone,
  -bugprone-implicit-widening-of-multiplication-result,
  misc-*,
  -misc-include-cleaner,
  -misc-unused-parameters,
  readability-*,
  -readability-identifier-length,
  -readability-magic-numbers,
  -readability-implicit-bool-conversion,
  -readability-braces-around-statements,
  -readability-function-cognitive-complexity,
  performance-*,
  clang-analyzer-*,
  -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling
WarningsAsErrors: ''
